<a href="https://colab.research.google.com/github/ayoolafelix/Covid-19/blob/master/Nigeria_Covid_19_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from bs4 import BeautifulSoup
import pandas as pd
import csv
import requests

url = 'https://covid19.ncdc.gov.ng/'

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

r = requests.get(url, headers=header)

dfs = pd.read_html(r.text)
tables = []
for df in dfs:
    tables.append(df)
data = pd.DataFrame(tables[0])
data

   States Affected  No. of Cases (Lab Confirmed)  ...  No. Discharged  No. of Deaths
0            Lagos                         17092  ...           14496            201
1              FCT                          4837  ...            1389             46
2              Oyo                          3007  ...            1654             34
3              Edo                          2475  ...            2194            100
4          Plateau                          2043  ...             983             25
5           Rivers                          2027  ...            1868             57
6           Kaduna                          1882  ...            1637             12
7             Kano                          1683  ...            1366             54
8            Delta                          1671  ...            1497             46
9             Ogun                          1587  ...            1363             25
10            Ondo                          1482  ...             775             30
11           Enugu                          1025  ...             850             20
12          Ebonyi                           943  ...             901             27
13           Kwara                           913  ...             652             23
14            Osun                           757  ...             509             14
15         Katsina                           746  ...             457             24
16            Abia                           713  ...             579              6
17           Borno                           706  ...             577             36
18           Gombe                           684  ...             594             23
19          Bauchi                           607  ...             539             14
20             Imo                           506  ...             168             10
21           Benue                           430  ...             139              9
22        Nasarawa                           386  ...             272             12
23         Bayelsa                           352  ...             324             21
24          Jigawa                           322  ...             308             11
25       Akwa Ibom                           260  ...             208              8
26           Niger                           232  ...             168             12
27           Ekiti                           206  ...             104              4
28         Adamawa                           185  ...             123             12
29         Anambra                           181  ...             159             18
30          Sokoto                           154  ...             138             16
31           Kebbi                            90  ...              82              8
32          Taraba                            78  ...              55              4
33         Zamfara                            77  ...              71              5
34     Cross River                            77  ...              45              8
35            Yobe                            67  ...              57              8
36            Kogi                             5  ...               3              2

[37 rows x 5 columns]